{extend name="common/base" /}

{block name="title"}玩家列表{/block}
{block name="content"}
<div class="layui-card">
  <div class="layui-card-header layuiadmin-card-header-auto">
    <h2>玩家列表</h2>
  </div>

  <div class="layui-card-body">
    <div class="search-userid" style="margin-bottom: 10px;">
      <div class="layui-inline">
        <input type="text" name="userid" id="userid" placeholder="玩家账号" autocomplete="off" class="layui-input">
      </div>
      <button class="layui-btn" data-type="reload" id="search_user">搜索</button>
    </div>

    <table id="playerlist" lay-filter="playerlist">
      <thead style="display: none" id="hlist">
      <th lay-data="{field:'id'}">序号</th>
      <th lay-data="{field:'userid'}">账号</th>
      <th lay-data="{field:'roomname'}">游戏房间</th>
      <th lay-data="{field:'totalfee'}">总充值</th>
      <th lay-data="{field:'total_tax'}">总业绩</th>
      <th lay-data="{field:'balance'}">余额</th>
      <th lay-data="{fixed: 'right', title:'操作', align:'center', toolbar: '#playerlist-bar'}">操作</th>
      </thead>
      <tbody id="plist">

      </tbody>

    </table>
    <!--<div id="test"></div>-->
  </div>
</div>

{/block}

{block name="script"}
<script type="text/html" id="playerlist-bar">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>
<script>
  layui.use(['layer','table','form','jquery', 'laypage'],function () {
    var layer = layui.layer
        ,form = layui.form
        ,table = layui.table
            ,$ = layui.$
            ,laypage = layui.laypage;

    //用户表格初始化
    function playerList() {
      // table.render({
      //   elem: '#playerlist'
      //   , height: 500
      //   , url: "{:url('account.playerListData')}" //数据接口
      //   , where: {}
      //   , page: false //开启分页
      //   , cols: [[ //表头
      //     {field: 'id', title: '序号', sort: true, width: 80}
      //     , {field: 'userid', title: '账号'}
      //     , {field: 'roomname', title: '房间'}
      //     , {field: 'totalfee', title: '总充值'}
      //     , {field: 'total_tax', title: '总业绩'}
      //     , {field: 'balance', title: '余额'}
      //     // , {field: 'comment', title: '备注'}
      //     , {fixed: 'right', title:'操作', align:'center', toolbar: '#playerlist-bar'}
      //   ]]
      // });
      var userid = $.trim($('#userid').val());
      $.ajax({
        type: 'get',
        url: "{:url('account.playerListData')}",
        data: {'userid':userid},
        dataType: 'json',
        success: function (res) {
          var plist = $('#plist');
          plist.html('');
          if (res.code === 0) {
            content = '';
            $.each(res.data, function(k, v) {
              content+="<tr>" +
                      "<td>"+v.id+"</td>" +
                      "<td>"+v.userid+"</td>" +
                      "<td>"+v.roomname+"</td>" +
                      "<td>"+v.totalfee+"</td>" +
                      "<td>"+v.total_tax+"</td>" +
                      "<td>"+v.balance+"</td>" +
                      "</tr>"
            });

            plist.html(content);
            table.init('playerlist', {
              height:500
            });
          }
        }
      });
    }
    $('#search_user').on('click', function() {
      playerList();
    });
    playerList();
    var t1 = window.setInterval(playerList,1000*30);
    // playerList();
    // var t1 = window.setInterval(active,1000*5);

    table.on('tool(playerlist)', function(obj) {
      var data = obj.data //获得当前行数据
          ,layEvent = obj.event //获得 lay-event 对应的值
          ,tr = obj.tr; //获得当前行 tr 的DOM对象
      if (layEvent === 'edit') {
        layer.msg('你点击了编辑, 当前用户id='+data.id);
      }
    });
  });
</script>
{/block}

