{extend name="common/base" /}

{block name="title"}代理列表{/block}
{block name="content"}
<div class="layui-card">
  <div class="layui-card-header layuiadmin-card-header-auto">
    <h2>代理列表</h2>
  </div>

  <div class="layui-card-body">
    <div class="search-proxy" style="margin-bottom: 10px;">
      <div class="layui-inline">
        <input type="text" name="username" id="username" placeholder="代理账号" autocomplete="off" class="layui-input">
      </div>
      <button class="layui-btn" data-type="reload" id="search_proxy">搜索</button>
    </div>
    <table id="proxylist" lay-filter="proxylist"></table>
  </div>
</div>

{/block}

{block name="script"}
<script type="text/html" id="proxylist-bar">
  <a class="layui-btn layui-btn-xs" lay-event="edit-qq">qq推荐</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>
<script>
  layui.use(['layer','table','form','jquery'],function () {
    var layer = layui.layer
            , form = layui.form
            , table = layui.table
            , $ = layui.$;
    //用户表格初始化
    var dataTable = table.render({
      elem: '#proxylist'
      , height: 500
      , url: "{:url('account.proxyListData')}" //数据接口
      , where: {}
      , page: true //开启分页
      , cols: [[ //表头
         {field: 'id', title: 'ID', sort: true, width: 80}
        , {field: 'username', title: '账号'}
        , {field: 'percent', title: '分成比例'}
        , {field: 'totalfee', title: '总充值'}
        , {field: 'total_tax', title: '总业绩'}
        , {field: 'historyin', title: '总利润'}
        , {field: 'leftmoney', title: '玩家余额'}
        // , {field: 'comment', title: '备注'}
        , {fixed: 'right', title:'操作', align:'center', toolbar: '#proxylist-bar'}
      ]]
    });

    //搜索代理
    var search = function() {
      var username = $.trim($('#username').val());
      //执行重载
      table.reload('proxylist', {
        page: {
          curr: 1 //重新从第 1 页开始
        },
        where: {'username':username}
      });
    };
    $('#search_proxy').on('click', function() {
      search();
    });

    table.on('tool(proxylist)', function(obj) {
      var data = obj.data //获得当前行数据
          ,layEvent = obj.event //获得 lay-event 对应的值
          ,tr = obj.tr; //获得当前行 tr 的DOM对象
      if (layEvent === 'edit') {
        layer.msg('你点击了编辑, 当前用户id='+data.id);
      } else if (layEvent === 'edit-qq') {
        layer.msg('你点击了qq, 当前用户id='+data.id);
      }
    });
  });
</script>
{/block}

