{extend name="common/base" /}

{block name="title"}结算账号{/block}
{block name="content"}
<div class="layui-card">
  <div class="layui-card-header layuiadmin-card-header-auto">
    <h2>结算账号</h2>
  </div>

  <div class="layui-card-body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>支付宝</legend>
    </fieldset>
    <form class="layui-form" action="{:url('withdraw.doSettle')}" method="post">
      {:token()}
      <input type="hidden" name="type" value="1" />
      <div class="layui-form-item">

        <div class="layui-inline">
          <label class="layui-form-label">姓名：</label>
          <div class="layui-input-inline">
            <input type="text" name="name" placeholder="请输入姓名" autocomplete="off" class="layui-input">
          </div>
        </div>

        <div class="layui-inline">
          <label class="layui-form-label">账号：</label>
          <div class="layui-input-inline">
            <input type="text" name="account" placeholder="请输入账号" autocomplete="off" class="layui-input">
          </div>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
          <button type="submit" class="layui-btn" lay-submit="" lay-filter="withdraw-apply">新增/修改</button>
        </div>
      </div>

    </form>


    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>银行卡</legend>
    </fieldset>

    <form class="layui-form" action="{:url('withdraw.doSettle')}" method="post">
      {:token()}
      <input type="hidden" name="type" value="2" />
      <div class="layui-form-item">

        <div class="layui-inline">
          <label class="layui-form-label">姓名：</label>
          <div class="layui-input-inline">
            <input type="text" name="name" placeholder="请输入姓名" autocomplete="off" class="layui-input">
          </div>
        </div>

        <div class="layui-inline">
          <label class="layui-form-label">账号：</label>
          <div class="layui-input-inline">
            <input type="text" name="account" placeholder="请输入账号" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">开户行：</label>
          <div class="layui-input-inline" >
            <input type="text" name="bank" placeholder="请输入开户行" autocomplete="off" class="layui-input">
          </div>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
          <button type="submit" class="layui-btn" lay-submit="" lay-filter="withdraw-apply">新增/修改</button>
        </div>
      </div>
    </form>
  </div>
</div>

{/block}

{block name="script"}
<script>
  layui.use(['layer','table','form'],function () {
    var layer = layui.layer
        ,form = layui.form
        ,table = layui.table;
    //用户表格初始化
  });
</script>
{/block}

